
@{

    ViewData["Title"] = "Tasks Page";

}
<!--Brayden checking if this is commiting to the right branch-->

<!--Import taskresponse model-->
@model mission6.Models.TaskResponse

<h1 class="text-center">Fill out your tasks!</h1>
<!--create form to fill out different tasks.-->
<form method="post">
    <div class="text-center" asp-validation-summary="All">

        <label asp-for="CategoryID">Category</label>
        <select asp-for="CategoryID">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryID">@c.CategoryName</option>
            }
        </select>
        <br />

        <label asp-for="TaskName">Task</label>
        <input asp-for="TaskName" />
        <br />

        <label asp-for="DueDate">Due Date</label>
        <input asp-for="DueDate" />
        <br />

        <label asp-for="Quadrant">Quadrant</label>
        <select asp-for="Quadrant">
            <option value="1">Important/Urgent</option>
            <option value="2">Important/Not Urgent</option>
            <option value="3">Not Important/Urgent</option>
            <option value="4">Not Important/Not Urgent</option>
        </select>
        <br />

        <label asp-for="Completed">Completed</label>
        <select asp-for="Completed">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br />
        <input type="hidden" asp-for="TaskID" />
        <!--Add asp validation for submit button-->
        <button id="btnSend" type="submit">Submit</button>
        <div asp-validation-summary="All"></div>


    </div>
</form>


